<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="referrer" content="always">

    <title>Dnote</title>
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/content_toolbar.css">

    <script type="text/javascript" async="" src="./写文章-CSDN博客_files/trackad.js.下载"></script>
    <script type="text/javascript" async="" src="./写文章-CSDN博客_files/saved_resource"></script>
    <script src="./写文章-CSDN博客_files/hm.js.下载"></script>
    <script type="text/javascript" crossorigin="" src="/js/edit/jquery.min.js"></script>
    <script type="text/javascript" crossorigin="" src="/js/edit/jquery-version.js"></script>
    <link href="/css/common.css" rel="stylesheet">
    <script type="text/javascript" crossorigin=""
            src="./写文章-CSDN博客_files/commons.bundle.1ca9a200a89504500bf0.js.下载"></script>
    <link href="/img/favicon.png" rel="SHORTCUT ICON">
    <!--[if lte IE 11]>
    <script src="https://g.csdnimg.cn/browser_upgrade/1.0.2/browser_upgrade.js"></script>
    <![endif]-->

    <script crossorigin="" src="./写文章-CSDN博客_files/report.js.下载" type="text/javascript"></script>

    <script type="text/javascript" crossorigin="" src="./写文章-CSDN博客_files/first_guide-30f62a68db.js.下载"></script>

    <script type="text/javascript" src="./写文章-CSDN博客_files/baidu_opensug-1.0.0.js.下载"></script>
    <script type="text/javascript" src="./写文章-CSDN博客_files/config.js.下载"></script>
    <link rel="stylesheet" type="text/css" href="/css/side-toolbar.css">
    <link rel="stylesheet" type="text/css" href="/css/editor.css">
    <script type="text/javascript" src="./写文章-CSDN博客_files/zh-cn.js.下载"></script>
    <script type="text/javascript" src="./写文章-CSDN博客_files/styles.js.下载"></script>
    <script type="text/javascript" src="./写文章-CSDN博客_files/plugin.js.下载"></script>
    <script type="text/javascript" src="./写文章-CSDN博客_files/plugin.js(1).下载"></script>
    <script type="text/javascript" src="./写文章-CSDN博客_files/plugin.js(2).下载"></script>
    <script type="text/javascript" src="./写文章-CSDN博客_files/plugin.js(3).下载"></script>
    <script type="text/javascript" src="./写文章-CSDN博客_files/plugin.js(4).下载"></script>
    <script type="text/javascript" src="./写文章-CSDN博客_files/plugin.js(5).下载"></script>
    <link rel="stylesheet" type="text/css" href="/css/tableselection.css">
    <link rel="stylesheet" type="text/css" href="/css/wordcount.css">
    <script type="text/javascript" src="./写文章-CSDN博客_files/zh-cn.js(1).下载"></script>
    <script type="text/javascript" src="./写文章-CSDN博客_files/zh-cn.js(2).下载"></script>
    <link rel="stylesheet" type="text/css" href="/css/balloonpanel.css">
    <link rel="stylesheet" type="text/css" href="/css/imagebase.css">
    <script type="text/javascript" src="./写文章-CSDN博客_files/eq_config.js.下载"></script>
    <script type="text/javascript" src="./写文章-CSDN博客_files/eq_editor-lite-19.js.下载"></script>
    <link rel="stylesheet" type="text/css" href="/css/equation-embed.css">
    <script type="text/javascript" src="./写文章-CSDN博客_files/iconfont.js.下载"></script>
    <script type="text/javascript" src="./写文章-CSDN博客_files/highlight.pack.js.下载"></script>
    <script type="text/javascript" src="./写文章-CSDN博客_files/chart.min.js.下载"></script>
    <script type="text/javascript" src="./写文章-CSDN博客_files/highlightjs-line-numbers.min.js.下载"></script>
    <style type="text/css">.cke_button__summary {
        position: relative;
    }

    .summary_prompt {
        position: absolute;
        color: #fff;
        text-align: center;
        top: 38px;
        left: -16px;
        width: 64px;
        height: 32px;
        line-height: 32px;
        background: rgba(15, 15, 15, 0.80);
        border-radius: 4px;
    }

    .summary_prompt::before {
        content: ".";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 7px 7px;
        border-color: transparent transparent rgba(15, 15, 15, 0.80) transparent;
        position: absolute;
        top: -7px;
        left: 24px;
    }

    .hide_summary_prompt {
        animation: 1s hide_summary_prompt forwards;
    }

    @keyframes hide_summary_prompt {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }</style>
    <style type="text/css">.hljs-ln {
        border-collapse: collapse
    }

    .hljs-ln td {
        padding: 0
    }

    .hljs-ln-n:before {
        content: attr(data-line-number)
    }</style>
</head>
<body>

<div id="csdn-toolbar" style="background-color:#80B763 !important;"
     class="csdn-toolbar tb_disnone  csdn-toolbar-skin-black ">
    <div class="container row center-block ">
        <ul class="pull-left left-menu clearfix" id="nav-left-menu">
            <li><a href="/note/notes/" class="toolbar_to_feed" title="首页" style="margin-left:0">首页</a></li>
        </ul>
        <div class="pull-right login-wrap ">
            <ul class="btns">
                <li class="userLogin">
                    <div class="loginCenter"><a href="https://i.csdn.net/" target="_blank">
                        <img class="login_img" src="/img/picture.jpg"></a>
                    </div>
                    <div class="userControl">
                        <div class="bord">
                            <div><i class="pull_icon pull_icon11"></i><a href="javascript:void(0);"
                                                                         class="logout">退出</a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<!--Header-->
<script id="toolbar-tpl-scriptId" crossorigin="" prod="download" skin="black"
        src="./写文章-CSDN博客_files/content_toolbar.js.下载" type="text/javascript" domain="http://blog.csdn.net"></script>

<link rel="stylesheet" href="/css/share.min.css">
<script type="text/javascript">
    var context_style_url = "https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-3019150162.css";
    var codeStyle = 'atom-one-light';
    var ck_warning = '';
    var background_img_id = '1';
    var articleStatus = '';
    var checkOriginal = '';
    var static_host = 'https://csdnimg.cn/release/phoenix/';
    var max_classify_and_column_num = '150';
</script>
<script type="text/javascript" crossorigin="" src="/js/edit/jquery.min.js"></script>
<script type="text/javascript" crossorigin="" src="/js/edit/jquery-version.js"></script>
<script type="text/javascript" crossorigin="" src="./写文章-CSDN博客_files/errorreport-50d9e618ac.js"></script>

<link rel="stylesheet" href="/css/ck_htmledit_views-3019150162.css">
<link href="/css/ckeditor.1ca9a20.css" type="text/css" rel="Stylesheet">
<script type="text/javascript" crossorigin="" src="./写文章-CSDN博客_files/csdn.js.下载"></script>
<main role="main" class="container">
    <div class="row row-offcanvas row-offcanvas-right main-wrapper">
        <div class="col-10 col-md-10" id="content-body">
            <div class="title-box">
                <input type="text" id="txtTitle" maxlength="100" placeholder="输入笔记标题">
            </div>
            <div class="section" style="width: 70%;margin: 0 auto">
                <span>内容</span>
                <textarea id="editor" name="editor" rows="30" style="width: 99.4%; margin-top: 10px"></textarea>
            </div>

            <div class="custom" style="margin: 10px auto; text-align: center;">
                <label id="judgeAdd" style="display: none">-1</label>
                <div class="btn">
                    <input id="btnDraft" type="button" class="save"
                           value="新建" title="保存">
                    <input id="btnCancel" type="button" class="return"
                           title="返回" value="返回" onclick="window.location.href='/note/notes/'">
                </div>
            </div>

<!--            <div id="moreDiv">-->
<!--                <div class="pos-box">-->
<!--                    <div class="opt-box row unfull">-->
<!--                        <div class="txt-box">-->
<!--                            <input id="btnDraft" type="button" class="btn btn-outline-danger ml-24 btn-baocun"-->
<!--                                   value="保存" title="保存">-->
<!--                            <input id="btnCancel" type="button" class="btn btn-outline-secondary ml-24 btn-shanchu"-->
<!--                                   title="返回" value="返回">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</main>


<script>
    var xhCssUrl = 'https://csdnimg.cn/release/phoenix/write/htmleditViews.1ca9a20.css';
</script>
<script type="text/javascript">
    var jsonData = {"articleId": 0};
    artId = '0';
</script>
<script type="text/javascript" crossorigin="" src="./写文章-CSDN博客_files/ckeditor.js.下载"></script>
<script type="text/javascript" crossorigin="" src="/js/edit/jquery.js"></script>
<script type="text/javascript" crossorigin=""
        src="./写文章-CSDN博客_files/ckeditor.bundle.1ca9a200a89504500bf0.js.下载"></script>
<script type="text/javascript" crossorigin="" src="./写文章-CSDN博客_files/CKposteditnew-758a1db5cb.js.下载"></script>
<script type="text/javascript" crossorigin="" src="./写文章-CSDN博客_files/social-share.min.js.下载"></script>
<script type="text/javascript" crossorigin="" src="./写文章-CSDN博客_files/qrcode-7c90a92189.min.js.下载"></script>
<script src="./写文章-CSDN博客_files/side-toolbar.js.下载"></script>
<script type="text/javascript" src="/js/edit/write.js"></script>



</body>
</html>